<%= form_for(@fake_model) do |f| %>
  <% if @fake_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fake_model.errors.count, "error") %> prohibited this fake_model from being saved:</h2>

      <ul>
      <% @fake_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
